src/main/resources/META-INF/longneck/schema/longneck-cdv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="urn:hu.sztaki.ilab.longneck:1.0"
           targetNamespace="urn:hu.sztaki.ilab.longneck:1.0" 
           elementFormDefault="qualified">

  <xs:simpleType name="intlist">
    <xs:list itemType="xs:integer"/>
  </xs:simpleType>
  
  <xs:complexType name="cdvType">
    <xs:complexContent>
      <xs:extension base="tns:atomicConstraintType">
        <xs:attributeGroup ref="tns:atomicConstraintAttrGroup"/>
        <xs:attribute name="coefficients" type="tns:intlist" use="required"/>
        <xs:attribute name="mod" type="xs:integer" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="cdv" type="tns:cdvType" substitutionGroup="tns:abstract-constraint"/>

</xs:schema>
